:root{
    --primaryColor: #464141;
    --secondaryColor : #72bd46;
    --textColor: #ded5d5;
    --GrayColor: #5d5858;
    --iconColor:#c85ec5;
}
@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.ttf') format('truetype'); /* Add paths to other font formats if available */
    font-weight: normal;
    font-style: normal;
  }
.html{
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    max-width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #d4eac9d8;
    margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a{
    text-decoration: none;
    cursor: pointer;
}
a:active{
    color: var(--iconColor);
}
.header{
    margin-top: 0.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    margin-bottom: 5rem;
}
.header nav{
    color: var(--textColor);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 8rem;
}
nav a{
    padding: 0 1rem;
    text-decoration: none;
    color: var(--GrayColor);
    transition: 0.5s;
}
nav a:hover{
    color:var(--iconColor);
}
nav a:first-child{
    color: var(--secondaryColor);
}
.header img{
    width: 3rem;
    margin-left: 1rem;
}
.aboutContainer a:visited{
    color: #fff;
}
#about{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10rem;
}
button{
    cursor: pointer;
    background-color: var(--secondaryColor);
    padding: 0.75rem;
    border-radius: 0.3rem;
    padding: 0.8rem 1.0rem;
    border: none;
    color: #fff;
    margin-bottom: 30px;
}
.headerParagragh{
    margin-bottom: 14rem;
    color: var(--GrayColor);
}
.aboutContainer{
    width: 60%;
    padding-right: 3rem;
}

#about h1{
    font-size: 3.5rem;
    color: var(--primaryColor);
}
#contact{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}
.contactContainer{
    width: 70%;
}
.line{
    width: 15rem;
    height: 0.10rem;
    background-color: var(--secondaryColor);
    margin-bottom: 3rem;
}
.contactHeader{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.contactHeader h1{
    font-size: 3.5rem;
    color: var(--GrayColor);
}
.contactFirst{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.contactSecond{
    display: flex;
    justify-content: center;
}
.formControl-1{
    padding: 1rem;
    border: 1px solid var(--textColor);
    border-radius: 5px;
    width: 15rem;
    margin-bottom: 2rem;
}
.formControl-2{
    padding: 1rem;
    border: 1px solid var(--textColor);
    border-radius: 5px;
    width: 32.5rem;
    margin-bottom: 9rem;
}
.footer{
width: 100%;
background-color: rgb(127, 188, 127);
padding:30px 0px;
text-align:center;
}

.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:var(--GrayColor);
font-size:1rem;
}

.footer .row a{
text-decoration:none;
color:var(--GrayColor);
transition:0.5s;
}

.footer .row a:hover{
color:var(--iconColor);
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a i{
font-size:2em;
margin:0% 1%;
}

@media (max-width:720px){
    html, body {
        overflow-x: hidden;
      }
      body {
        position: relative
      }
    #about{
        flex-wrap: wrap;
        width: 80%;
    }
    .formControl-1{
        max-width: 16%;
    }
    .formControl-2{
        max-width: 40%;
    }
    #contact{
        width: 80%;
    }
    .headerParagragh{
        margin-bottom: 5rem;
    }
    #about img{
        max-width: -webkit-fill-available;
    }.footer{
        text-align:left;
        padding:5%;
        }
        .footer .row ul li{
        display:block;
        margin:10px 0px;
        text-align:left;
        }
        .footer .row a i{
        margin:0% 3%;
        }
}